* {
	font-family: 'Roboto', sans-serif !important;
}

.wrapper {
	max-width: 768px;
	margin: 0 auto;
	padding: 40px;
}

button {
	all: unset;

	&.btn {
		font-family: 'Roboto', sans-serif;

		color: $grey-text-btn;
		cursor: pointer;
	}
}

.header {
	padding: 6px 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

#count {
	border-radius: 6px;
	background: $blue;
	color: white;
	max-width: 105px;
	margin-left: 12px;
	font-size: 18px;
	max-height: 105px;

	&:hover {
		background: lighten($blue, 5%);
	}
}

#read {
}

.chat {
	display: flex;
	align-items: center;
	width: 90%;
	max-width: 90%;
	border-radius: 6px;
	background-color: $lightgrey;
	padding: 20px;

	&.image {
		.chat__outer {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
	&.multiple {
		display: flex;
	}

	&__two-messages {
		display: flex;
		flex-direction: column;
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&:not(:last-child) {
		margin-bottom: $spacing;
	}

	&__name {
		font-weight: 700;
		padding-right: 4px;
	}

	img.chat__thumbnail {
		border-radius: 6px;
	}

	&__multiple {
		display: flex;
	}

	&__message {
		display: flex;
		align-items: center;
		padding-right: 4px;
		color: $text-color;

		.alert {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #fd5854;
			display: inline-block;
		}
	}

	&__timestamp {
		color: #d1d4d9;
		padding: 0;
	}

	&__avatar {
		position: relative;
	}

	img {
		width: 50px;
		margin-right: $spacing;
		border-radius: 50%;
	}

	&__amount {
		width: 25px;
		height: 25px;
		background: lightcoral;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: -10px;
		top: -5px;
		font-size: 12px;
		color: white;
		border-radius: 50%;
	}
}

h1 {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	font-size: 40px;
}
