* {
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

button {
	all: unset;

	&.btn {
		font-family: 'Roboto', sans-serif;

		color: $grey-text-btn;
		cursor: pointer;
	}
}

.header {
	padding: 6px 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

#count {
	border-radius: 6px;
	background: $blue;
	color: white;
	max-width: 105px;
	margin-left: 12px;
	font-size: 18px;
	max-height: 105px;

	&:hover {
		background: lighten($blue, 5%);
	}
}

#read {
}

.chat {
	width: 90%;
	max-width: 90%;
	border-radius: 6px;
	padding: 20px;

	img {
		border-radius: 50%;
	}
}

h1 {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	font-size: 40px;
}
