$blue: #073080;
$lightgrey: #f6fafd;
$grey: #b7bac1;
$alert: #fd5854;
$grey-text-btn: #62656d;
$link-color: #061b4d;
$alert: #30333a;
$white: #f9fafe;
$black: #30333a;

$dark-text: #898c93;
$text-color: $grey;
