@media (min-width: 768px) and (max-width: 1023px) {
  .hide-mobile-tablet {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hide-mobile-tablet {
    display: none !important;
  }
  .hide-mobile {
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 639px) {
  .hide-mobile-tablet {
    display: none !important;
  }
}
.hide-desktop {
  display: none !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .hide-desktop {
    display: block !important;
  }
}
@media (min-width: 0px) and (max-width: 639px) {
  .hide-desktop {
    display: block !important;
  }
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 40px;
}

button {
  all: unset;
}
button.btn {
  color: #62656d;
  cursor: pointer;
}

@font-face {
  font-family: "Jakarta";
  src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
}
* {
  font-family: "$font-primary", sans-serif !important;
}

h1 {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

strong {
  font-weight: 600;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.chat {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 90%;
  border-radius: 6px;
  padding: 20px;
}
.chat.image .chat__outer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.chat .multiple .chat__timestamp {
  padding-bottom: 5px;
}
.chat__two-messages {
  display: flex;
  flex-direction: column;
}
.chat__inner {
  display: flex;
  align-items: center;
}
.chat:not(:last-child) {
  margin-bottom: 12px;
}
.chat__name {
  font-weight: 700;
}
.chat img.chat__1il {
  border-radius: 6px;
}
.chat__multiple {
  display: flex;
}
.chat__message {
  display: flex;
  align-items: center;
  color: #898c93;
}
.chat__message.second-message {
  padding: 18px 12px;
  border: 1px solid #e3e6e5;
  border-radius: 4px;
}
.chat__message a {
  text-decoration: none;
  color: #061b4d;
  font-weight: 600;
}
.chat__message .alert {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fd5854;
  display: inline-block;
  margin-left: 3px;
}
.chat__timestamp {
  color: #d1d4d9;
  padding: 5px 0;
}
.chat__avatar {
  position: relative;
}
.chat img {
  width: 50px;
  margin-right: 12px;
}
.chat.unread {
  background-color: #f6fafd;
}
.chat.unread .chat__amount {
  display: flex;
}
.chat__amount {
  display: none;
  width: 25px;
  height: 25px;
  background: lightcoral;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
  top: -5px;
  font-size: 12px;
  color: white;
  border-radius: 50%;
}

.header {
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#count {
  border-radius: 6px;
  background: #073080;
  color: #fff;
  margin-left: 12px;
  font-size: 18px;
  padding: 8px;
}
#count:hover {
  background: #083998;
}/*# sourceMappingURL=styles.css.map */