body {
  position: relative;
}
body:before {
  content: "";
  height: 12px;
  background: linear-gradient(150deg, #f731db, #4600f1 100%);
  position: absolute;
  background-size: 400% 400%;
  -webkit-animation: gradient-bg 15s ease infinite;
          animation: gradient-bg 15s ease infinite;
  top: 0;
  right: 0;
  width: 100vw;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

button {
  all: unset;
}
button.btn {
  color: hsl(228deg, 6%, 65%);
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 374px) {
  .wrapper {
    padding: 8px;
  }
  button.btn {
    font-size: 12px;
  }
}
@-webkit-keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: "Jakarta";
  src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
}
* {
  font-family: "$font-primary", sans-serif !important;
}

body {
  font-size: 16px !important;
}
@media (min-width: 375px) and (max-width: 767px) {
  body {
    font-size: 1rem !important;
  }
}
@media (min-width: 0px) and (max-width: 374px) {
  body {
    font-size: 0.9rem !important;
  }
}

strong {
  font-weight: 800;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.chat {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 90%;
  border-radius: 6px;
  padding: 12px;
}
.chat .alert {
  display: none;
}
.chat.unread .alert {
  display: block;
}
.chat.multiple {
  align-items: flex-start;
}
.chat.read {
  transition: 1s ease all;
  background: none;
}
.chat.image .chat__outer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.chat.image span {
  display: flex;
}
.chat.image .chat__inner {
  flex-direction: column;
}
.chat .multiple .chat__timestamp {
  padding-bottom: 5px;
}
.chat__two-messages {
  display: flex;
  flex-direction: column;
}
.chat__inner {
  display: flex;
}
.chat:not(:last-child) {
  margin-bottom: 12px;
}
.chat__name {
  font-weight: 700;
  cursor: pointer;
}
.chat__name:hover {
  color: hsl(219deg, 85%, 26%);
}
.chat img.chat__1il {
  border-radius: 6px;
}
.chat__multiple {
  display: flex;
}
@media (min-width: 0px) and (max-width: 374px) {
  .chat__multiple {
    display: block;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .chat__multiple {
    display: block;
  }
}
.chat__thumbnail {
  cursor: pointer;
}
.chat .thumb {
  display: flex;
}
@media (min-width: 0px) and (max-width: 374px) {
  .chat .thumb {
    display: block;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .chat .thumb {
    display: block;
  }
}
.chat__message {
  display: flex;
  align-items: center;
  color: #898c93;
  flex-wrap: wrap;
}
.chat__message.second-message {
  padding: 18px 12px;
  border: 1px solid hsl(228deg, 6%, 65%);
  border-radius: 4px;
  margin-top: 12px;
}
.chat__message.second-message:hover {
  cursor: pointer;
  background: hsl(211deg, 68%, 94%);
  border-color: transparenta;
}
.chat__message strong {
  color: hsl(219deg, 85%, 26%);
}
.chat__message a {
  text-decoration: none;
  color: #061b4d;
  font-weight: 800;
}
.chat__message .alert {
  display: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: hsl(1deg, 90%, 64%);
  margin-left: 3px;
}
.chat__timestamp {
  color: hsl(228deg, 6%, 65%);
  padding: 5px 0;
}
.chat__avatar {
  position: relative;
}
.chat img {
  width: 50px;
  margin-right: 12px;
}
.chat.unread {
  background: hsl(210deg, 60%, 98%);
}
.chat.unread .chat__amount {
  display: flex;
  opacity: 100;
}
.chat__amount {
  transition: 250ms ease all;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: hsl(1deg, 90%, 64%);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
  top: -5px;
  font-size: 12px;
  color: white;
  border-radius: 50%;
}

@media (min-width: 0px) and (max-width: 374px) {
  .chat {
    max-width: 300px;
  }
  .chat__name {
    display: flex;
    width: 100%;
  }
  .chat__inner {
    flex-wrap: wrap;
  }
  .chat__message {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .chat__message .alert {
    display: none !important;
  }
  .chat.unread .chat__message {
    position: relative;
  }
  .chat.unread .chat__message:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: hsl(1deg, 90%, 64%);
    margin-left: 4px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .chat__inner {
    flex-direction: column;
  }
}
.intro {
  padding: 24px 0;
}

.accordion {
  border: solid 2px #f5f5f5;
  transition: all 0.3s ease-in-out;
}
.accordion:first-child {
  margin-bottom: 12px;
}
.accordion + .accordion {
  margin-top: 0.25rem;
}
.accordion p {
  padding-bottom: 5px;
}
.accordion .wrapper {
  display: flex;
}
.accordion .wrapper img {
  max-width: 90%;
}
.accordion:hover {
  background-color: #f5f5f5;
}
.accordion .accordion__title {
  list-style-type: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #555555;
  padding: 0.875rem 2.5rem 0.875rem 0.875rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.024 11.263l-7.024 7.023-7.022-7.023-3.091 3.090 8.569 8.569c0.413 0.413 0.961 0.64 1.545 0.64s1.133-0.228 1.545-0.64l8.569-8.569-3.091-3.090z' fill='%23555555'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem top 0.625rem;
  background-size: 1.5rem;
}
.accordion .accordion__title::marker, .accordion .accordion__title::-webkit-details-marker {
  display: none;
}
.accordion .accordion__content {
  padding: 0 1rem 1rem 1rem;
}
.accordion .accordion__content p {
  margin: 0;
}
.accordion .accordion__content p + p {
  margin-top: 0.5em;
}
.accordion[open] {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.accordion[open] .accordion__title {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.976 22.025l7.024-7.023 7.022 7.023 3.091-3.090-8.568-8.568c-0.413-0.412-0.961-0.64-1.545-0.64s-1.133 0.228-1.545 0.64l-8.569 8.569 3.091 3.090z' fill='%23555555'/%3e%3c/svg%3e");
}

header {
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
header h1 {
  font-size: 32px;
  display: flex;
  align-items: center;
  font-weight: 800;
}

#count {
  border-radius: 6px;
  background: hsl(219deg, 85%, 26%);
  color: hsl(0deg, 0%, 100%);
  margin-left: 12px;
  font-size: 18px;
  padding: 8px;
}
#count:hover {
  background: #0c3b92;
}

@media (min-width: 0px) and (max-width: 374px) {
  header {
    padding: 12px 0;
    margin: 0;
  }
  header h1 {
    font-size: 18px;
  }
  header #count {
    font-size: 12px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  header h1 {
    font-size: 18px;
  }
  header #count {
    font-size: 12px;
  }
}/*# sourceMappingURL=styles.css.map */