.chat {
	display: flex;
	align-items: center;
	width: 90%;
	max-width: 90%;
	border-radius: 6px;
	padding: 20px;

	.alert {
		display: none !important;
	}

	&.unread {
		.alert {
			display: block !important;
		}
	}

	&.multiple {
		align-items: flex-start;
	}

	&.read {
		transition: 1s ease all;
		background: none;
	}

	&.image {
		.chat__outer {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		span {
			display: flex;
		}

		.chat__inner {
			// display: flex;
			flex-direction: column;
		}
	}

	.multiple {
		.chat__timestamp {
			padding-bottom: 5px;
		}
	}

	&__two-messages {
		display: flex;
		flex-direction: column;
	}

	&__inner {
		display: flex;
	}

	&:not(:last-child) {
		margin-bottom: $spacing;
	}

	&__name {
		font-weight: 700;
	}

	img.chat__1il {
		border-radius: 6px;
	}

	&__multiple {
		display: flex;

		@include mobile {
			display: block;
		}

		@include tablet {
			display: block;
		}
	}

	.thumb {
		display: flex;

		@include mobile {
			display: block;
		}

		@include tablet {
			display: block;
		}
	}

	&__message {
		// display: flex;
		align-items: center;
		color: $dark-text;

		&.second-message {
			padding: calc($spacing * 1.5) $spacing;
			border: 1px solid $border;
			border-radius: 4px;
			margin-top: $spacing;
		}

		strong {
			color: $color-secondary;
		}

		a {
			text-decoration: none;
			color: $link-color;
			font-weight: $font-weight__bold;
		}

		.alert {
			display: none;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: $alert;
			margin-left: 3px;
		}
	}

	&__timestamp {
		color: $grey;
		padding: 5px 0;
	}

	&__avatar {
		position: relative;
	}

	img {
		width: 50px;
		margin-right: $spacing;
	}

	&.unread {
		background: $lightgrey;

		.chat__amount {
			display: flex;
			opacity: 100;
		}
	}

	&__amount {
		transition: 250ms ease all;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		height: 25px;
		background: $alert;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: -10px;
		top: -5px;
		font-size: 12px;
		color: white;
		border-radius: 50%;
	}
}

@include mobile {
	.chat {
		&__name {
			display: flex;
			width: 100%;
		}

		&__inner {
			flex-wrap: wrap;
		}

		&__message {
			display: block;
		}
	}
}

@include tablet {
	.chat {
		&__inner {
			flex-direction: column;
		}
	}
}
