.header {
	padding: 6px 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	h1 {
		font-size: 32px;
		display: flex;
		align-items: center;

		font-weight: $font-weight__bold;
	}
}

#count {
	border-radius: 6px;
	background: $blue;
	color: #fff;
	margin-left: 12px;
	font-size: 18px;
	padding: 8px;

	&:hover {
		background: lighten($blue, 5%);
	}
}
