body {
	position: relative;

	&:before {
		content: '';
		height: $spacing;
		background: $gradient;
		position: absolute;
		background-size: 400% 400%;
		animation: gradient-bg 15s ease infinite;
		top: 0;
		right: 0;
		width: 100vw;
	}
}

.wrapper {
	max-width: 768px;
	margin: 0 auto;
}

button {
	all: unset;

	&.btn {
		color: $grey-text-btn;
		cursor: pointer;
	}
}

@include mobile {
	.wrapper {
		padding: 8px;
	}

	button.btn {
		font-size: 12px;
	}
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
