@font-face {
	font-family: 'Jakarta';
	src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf)
		format('truetype');
}

$font-primary: 'Jakarta';

* {
	font-family: '$font-primary', sans-serif !important;
}

h1 {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	font-size: 40px;
}

$font-weight__bold: 600;

strong {
	font-weight: $font-weight__bold;
}
