$blue: #073080;
$lightgrey: hsl(210, 60%, 98%);
$grey: hsl(228, 6%, 65%);
$grey-text-btn: $grey;
$link-color: #061b4d;
$color-white: hsl(0, 0%, 100%);
$black: hsl(224, 21%, 14%);
$color-white: hsl(0, 0%, 100%);
$dark-text: #898c93;
$text-color: $grey;

$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

$color-primary: $red;
$color-secondary: $blue;

$alert: $red;
